* {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
  
body {
  font-style: normal;
  font-weight: normal;
  font-size-adjust: none;
  font-stretch: normal;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-language-override: normal;
  font-kerning: auto;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  line-height: 24px;

  /* Background pattern from Toptal Subtle Patterns */
  background-image: url("cubes.png");
  
  background-repeat: repeat;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;

}

header {
  margin-bottom: 10px;
  
}

#main-container {
  font-family: Oxygen, Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: 1000px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: auto;
  margin-left: auto;
  border-width: 2px;
  border-style: solid;
  border-color: #999999;
  border-radius: 5px;
  background-color: #ffffff;
}

article {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2.websection {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


#pic {
  float: none;
  margin-right: 20px;
  margin-left: 20px;  
  border-radius: 7px;
  width: auto;
}


h1.main-title-center {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  line-height: 50px;
  padding-bottom: 20px;
}

#info {
  text-align: justify;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

p.info{
  text-align: justify;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

a{
  color: #1e76b0;
  text-decoration-line:underline;
  border-bottom-color: #1e76b0;
}

a:hover {
  color: #0026ff;
}


footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  text-align: center;
  font-size: 15px;
}


table{
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

th{
  background-color: rgb(166, 213, 255);
}

tr:nth-child(odd) {background-color: #f2f2f2;}

a.data {
  color: #1e76b0;
  text-decoration-line:underline;
  font-weight: bold;
  border-bottom-color: #1e76b0;
}

h3{
  padding-left: 10px;
}

h4{
  margin-top: 30px;
  padding-left: 10px;
}

p.code{
  background-color: #f2f2f2;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
  padding: 10px;
  border-left: 2px solid #d6d3d3;
}

span{
  padding-left: 30px;
}